@import '../../styles/variables';

.form {
  width: 100%;
  padding: 50px;
  height: auto;
  background-color: $blue1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 20px;

  & > p {
    font-size: 20px;
    font-weight: 600;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  max-width: 380px;
  padding: 12px 16px;
  font-size: 20px;
  line-height: 30px;
  background: none;
  color: $black;
  border: 1px #cccccc solid;
  outline: 0;
}

.button {
  padding: 12px 32px;
  background-color: $red;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
  }
}

@media screen and (max-width: 620px) {
  .form {
    padding: 25px;

    & > p {
      font-size: 16px;
    }
  }
}