---
import vk from '../assets/images/vk.svg'
import whatsapp from '../assets/images/whatsapp.svg'
import telegram from '../assets/images/telegram.svg'
import youtube from '../assets/images/youtube.svg'
---

<div class="footer">
  <div class="footer__wrapper">
    <p>Агентство недвижимости “Арка”. Работаем с 1997 года</p>
    <div class="footer__links">
      <a href="#" target="_blank" class="footer__link">
        <img src={vk} alt="Вконтакте">
      </a>
      <a href="#" target="_blank" class="footer__link">
        <img src={telegram} alt="Telegram">
      </a>
      <a href="#" target="_blank" class="footer__link">
        <img src={whatsapp} alt="Whatsapp">
      </a>
      <a href="#" target="_blank" class="footer__link">
        <img src={youtube} alt="YouTube">
      </a>
    </div>
  </div>
</div>