<header class="header">
  <span class="header__title">Арка</span>
  <nav class="links">
    <a href="#about" class="link">О компании</a>
    <a href="#objects" class="link">Объекты</a>
    <a href="#services" class="link">Услуги</a>
    <a href="#contacts" class="link">Контакты</a>
  </nav>
</header>